* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  background-color: #1d2123;
  max-width: 1280px;
  max-height: 832px;
  margin: 0 32px;
  overflow-y: hidden;
  position: relative;
}

.mini-container {
  background-color: #1d2123;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  column-gap: 24px;
  overflow-x: hidden;
  margin-right: 57px;
}

/* *********** LEFT SECTION *********** */

.logo {
  margin-top: 23px;
  margin-left: 27px;
}

.logo-img {
  width: 34px;
  height: 34px;
}

.nav-bar {
  grid-column: 1/ 2;
  grid-row: 2 / -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.icon-1 {
  height: 230px;
}

.icons {
  background-color: #1a1e1f;
  border-radius: 32px;
  width: 52px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-link:link,
.icons-link:visited {
  display: block;
  margin: 15px auto;
}

img {
  filter: opacity(1) drop-shadow(0 0 0 #efeee040);
}

.icon-2 {
  height: 127px;
  margin-top: 20px;
}

/* *********** MIDDLE SECTION *********** */
.search-bar {
  grid-row: 1/2;
  grid-column: 2 / -1;
  display: flex;
  height: 73px;
  justify-content: start;
  align-items: center;
  width: 1122px;
  gap: 25.33px;
}

.search-icon {
  margin-left: 29px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.25);
}

.search-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.25);
}

/* .search-icon .search-text {
  margin-top: 26px;
  margin-bottom: 26px;
} */

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hero-bar {
  background-color: #609eaf;
  width: 686px;
  height: 373px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

.hero-left {
  margin-left: 40px;
}

.currated-playlist {
  margin-top: 38px;
  font-weight: 400;
  font-size: 12px;
}

.hits {
  margin-top: 85px;
  font-weight: 700;
  font-size: 35px;
}

.text {
  font-weight: 100;
  font-style: normal;
  margin-top: 6px;
}

.frames {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin-top: 76px;
}

.user-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.user-img:not(:first-child) {
  margin-left: -11px;
}

.frame-user {
  display: flex;
  gap: 12px;
}

.frame-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

span .icon {
  width: 13.33px;
  height: 12.67px;
}

.hero-right-img {
  position: absolute;
  top: 0;
  right: 2px;
}

.hero-right-img-2 {
  position: absolute;

  top: 0;
  right: 2px;
}

/* *********** RIGHT SECTION *********** */
.top-charts {
  grid-column: 3 / 4;
  grid-row: 2/3;
}

.right-chart-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inner-card {
  width: 417px;
  height: 96px;
  background-color: #1a1e1f;
  border-radius: 20px;
  display: flex;
  gap: 14px;
  justify-self: center;
  padding: 17px;
}

.inner-card-img {
  width: 63px;
  height: 63px;
  align-self: center;
}

.chart-card-texts {
  align-self: center;
  font-style: normal;
  letter-spacing: 1;
}

.chart-card-texts h5 {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 17px;
}

.chart-card-texts .text-name {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}

.chart-card-texts .text-duration {
  font-size: 12px;
}

.heart-circle {
  position: relative;
  align-self: center;
  margin-left: auto;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  border: 2px solid #ffffff1c;
}

.heart-icon {
  position: absolute;
  top: 25%;
  left: 25%;
}

.nav-bar,
.top-charts,
.main {
  margin-top: 23px;
}

/* *********** NEW RELEASES SECTION *********** */

.new-releases {
  grid-column: 2 / 4;
  grid-row: 3 /4;
  margin-top: 43px;
  width: 1122px;
}

.new-releases h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.new-releases-imgs {
  display: flex;
  gap: 30px;
  margin-top: 13px;
}

.new-albums-img {
  width: 153px;
  height: 153px;
  border-radius: 25px;
}

.new-albums p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
  letter-spacing: 1;
}

.new-releases-2 {
  grid-column: 2 / 4;
  grid-row: 4 /5;
  margin-top: 43px;
  width: 1122px;
}

.new-releases-imgs {
  display: flex;
  gap: 30px;
  /* margin-left: 96px; */
}

.new-albums-img {
  width: 153px;
  height: 153px;
  border-radius: 25px;
}

/* *********** CONTROLS SECTION *********** */

.music-controls {
  position: absolute;
  bottom: -24px;
  z-index: 1;
  width: 1280px;
  height: 125px;
  background: rgba(29, 33, 35, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

.mini-controls {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 1122px;
  margin: 25px 66px 39px 99px;
}

/* LEFT SIDE */
.left-control {
  display: flex;
  gap: 13px;
}

.left-control-img {
  width: 49px;
  height: 49px;
  border-radius: 14px;
}

.control-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-control-text {
  font-weight: 700;
  font-size: 14px;
}

.left-control-text-name {
  font-weight: 700;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.44);
}

/* MIDDLE SIDE */
.middle-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control-icons-container {
  display: flex;
  gap: 30.51px;
  align-items: center;
  /* justify-content: center; */
}

/* RIGHT SIDE */
.right-control {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.volume-bar {
  width: 160px;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 42px;
}

.volume-seek {
  width: 51px;
  height: 3px;
  background: #facd66;
  border-radius: 42px;
}
