* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  background-color: #1d2123;
  width: 128rem;
  max-height: 83.2rem;
  margin: 0 3.2rem;
  overflow-y: hidden;
  position: relative;
}

.mini-container {
  background-color: #1d2123;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  column-gap: 2.4rem;
  overflow-x: hidden;
  margin-right: 5.7rem;
}

/* *********** LEFT SECTION *********** */

.logo {
  margin-top: 2.3rem;
  margin-left: 2.7rem;
}

.logo-img {
  width: 3.4rem;
  height: 3.4rem;
}

.nav-bar {
  grid-column: 1/ 2;
  grid-row: 2 / -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.icon-1 {
  height: 23rem;
}

.icons {
  background-color: #1a1e1f;
  border-radius: 3.2rem;
  width: 5.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-link:link,
.icons-link:visited {
  display: block;
  margin: 1.5rem auto;
}

img {
  filter: opacity(1) drop-shadow(0 0 0 #efeee040);
}

.icon-2 {
  height: 12.7rem;
  margin-top: 2rem;
}

/* *********** MIDDLE SECTION *********** */
.search-bar {
  grid-row: 1/2;
  grid-column: 2 / -1;
  display: flex;
  height: 7.3rem;
  justify-content: start;
  align-items: center;
  width: 112.2rem;
  gap: 2.533rem;
}

.search-icon {
  margin-left: 2.9rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.25);
}

.search-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.25);
}

/* .search-icon .search-text {
  margin-top: 26px;
  margin-bottom: 26px;
} */

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hero-bar {
  background-color: #609eaf;
  width: 68.6rem;
  height: 37.3rem;
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
}

.hero-left {
  margin-left: 4rem;
}

.currated-playlist {
  margin-top: 3.8rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.hits {
  margin-top: 8.5rem;
  font-weight: 700;
  font-size: 3.5rem;
}

.text {
  font-weight: 100;
  font-size: 1.4rem;
  font-style: normal;
  margin-top: 0.6rem;
}

.frames {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
  margin-top: 7.6rem;
}

.user-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.user-img:not(:first-child) {
  margin-left: -1.1rem;
}

.frame-user {
  display: flex;
  gap: 1.2rem;
}

.frame-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
}

span .icon {
  width: 1.9rem;
  height: 1.9rem;
}

.hero-right-img {
  position: absolute;
  top: 0;
  right: 0.2rem;
}

.hero-right-img-2 {
  position: absolute;

  top: 0;
  right: 0.2rem;
}

/* *********** RIGHT SECTION *********** */
.top-charts {
  grid-column: 3 / 4;
  grid-row: 2/3;
}

.right-chart-text {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inner-card {
  width: 41.7rem;
  height: 9.6rem;
  background-color: #1a1e1f;
  border-radius: 2rem;
  display: flex;
  gap: 1.4rem;
  justify-self: center;
  padding: 1.7rem;
}

.inner-card-img {
  width: 6.3rem;
  height: 6.3rem;
  align-self: center;
}

.chart-card-texts {
  text-decoration: none;
  align-self: center;
  font-style: normal;
  letter-spacing: 1;
}

.text-name {
  font-size: 1.4rem;
}

/* for h5's .chart-text */
a:link,
a:visited {
  display: inline-block;
  color: #fff;
  margin-bottom: 0.4rem;
  font-weight: 400;
  font-size: 1.7rem;
  text-decoration: none;
}

a:hover,
a:active {
  color: #facd66;
}

.chart-card-texts .text-name {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.8rem;
}

.chart-card-texts .text-duration {
  font-size: 1.2rem;
}

.heart-circle {
  position: relative;
  align-self: center;
  margin-left: auto;
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  border: 0.2rem solid #ffffff1c;
}

.heart-icon {
  position: absolute;
  top: 25%;
  left: 25%;
}

.nav-bar,
.top-charts,
.main {
  margin-top: 2.3rem;
}

/* *********** NEW RELEASES SECTION *********** */

.new-releases {
  grid-column: 2 / 4;
  grid-row: 3 /4;
  margin-top: 4.3rem;
  width: 112.2rem;
}

.new-releases h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
}

.new-releases-imgs {
  display: flex;
  gap: 3rem;
  margin-top: 1.3rem;
}

.new-albums-img {
  width: 15.3rem;
  height: 15.3rem;
  border-radius: 2.5rem;
}

.new-albums p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  letter-spacing: 1;
}

.new-releases-2 {
  grid-column: 2 / 4;
  grid-row: 4 /5;
  margin-top: 4.3rem;
  width: 112.2rem;
}

.new-releases-imgs {
  display: flex;
  gap: 3rem;
  /* margin-left: 96px; */
}

.new-albums-img {
  width: 15.3rem;
  height: 15.3rem;
  border-radius: 2.5rem;
}

/* *********** CONTROLS SECTION *********** */

.music-controls {
  position: absolute;
  bottom: -1.9rem;
  z-index: 1;
  width: 128rem;
  height: 12.5rem;
  background: rgba(29, 33, 35, 0.3);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5rem);
}

.mini-controls {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  width: 112.2rem;
  margin: 2.5rem 6.6rem 3.9rem 9.9rem;
}

/* LEFT SIDE */
.left-control {
  display: flex;
  gap: 1.3rem;
}

.left-control-img {
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 1.4rem;
}

.control-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-control-text {
  font-weight: 700;
  font-size: 1.4rem;
}

.left-control-text-name {
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.44);
}

/* MIDDLE SIDE */
.middle-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control-icons-container {
  display: flex;
  gap: 3.051rem;
  align-items: center;
  /* justify-content: center; */
}

/* RIGHT SIDE */
.right-control {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.volume-bar {
  width: 16rem;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4.2rem;
}

.volume-seek {
  width: 5.1rem;
  height: 0.3rem;
  background: #facd66;
  border-radius: 4.2rem;
}
