* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  background: url(/img/Rectangle\ 20.webp);
  width: 128rem;
  max-height: 83.2rem;
  margin: 0 3.2rem;
  overflow: hidden;
  position: relative;
}

.mini-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  overflow-x: hidden;
  margin-right: 5.7rem;
}

/* *********** LEFT SECTION *********** */

.logo {
  margin-top: 2.3rem;
  margin-left: 2.7rem;
}

.logo-img {
  width: 3.4rem;
  height: 3.4rem;
}

.nav-bar {
  grid-column: 1/ 2;
  grid-row: 2 / -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.icon-1 {
  height: 23rem;
}

.icons {
  background-color: #1a1e1f;
  border-radius: 3.2rem;
  width: 5.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-link:link,
.icons-link:visited {
  display: block;
  margin: 1.5rem auto;
}

img {
  filter: opacity(1) drop-shadow(0 0 0 #efeee040);
}

.icon-2 {
  height: 12.7rem;
  margin-top: 2rem;
}

/* *********** MIDDLE SECTION *********** */
.search-bar {
  grid-row: 1/2;
  grid-column: 2 / -1;
  display: flex;
  height: 7.3rem;
  justify-content: start;
  align-items: center;
  width: 112.2rem;
  gap: 2.533rem;
}

.search-icon {
  margin-left: 2.9rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.25);
}

.search-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.25);
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.hero-bar {
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 2.7rem;
}

.lead-image {
  width: 28.4rem;
  height: 28.897rem;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-right-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
}

.hero-right-text {
  margin-top: 0.9rem;
  font-style: normal;
  font-weight: 100;
  line-height: 120%;
}

.song-duration {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.hero-right-icons {
  display: flex;
  gap: 0.9rem;
  margin-top: 4rem;
}

.hero-right-icon {
  height: 1.3333333015441895rem;
  width: 1.3333333015441895rem;
}
.hero-right-div {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(0.5rem);
  border-radius: 3.2rem;
  height: 3.6rem;
}

.inner {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1.133rem;
}

.hero-right-div .circle {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 3.6rem;
}

.hero-right-heart-icon {
  margin: 1rem;
}

.nav-bar,
.main {
  margin-top: 2.3rem;
}

/* *********** SONG LIST SECTION *********** */
.song-list-section {
  margin-top: 4.9rem;
}

.song-div {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 112.5rem;
  margin-bottom: 1rem;
  height: 5.6rem;
  background: rgba(51, 55, 59, 0.37);
  backdrop-filter: blur(0.5rem);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 1.5rem;
}

.song-list-img {
  margin-left: 1rem;
}

.song-list-icon {
  margin-left: 2rem;
  margin-right: 7.9rem;
}

.song-div p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
}

.list-text-2 {
  margin-left: auto;
  margin-right: auto;
}

.list-text-3 {
  margin-right: 20rem;
}

.dots {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-right: 4rem;
}

.dot {
  border: 0.2rem solid #facd66;
  height: 0.13763049840927124rem;
  width: 0.13763049840927124rem;
  border-radius: 50%;
}

/* *********** CONTROLS SECTION *********** */

.music-controls {
  position: absolute;
  bottom: -1.9rem;
  z-index: 1;
  width: 128rrem;
  height: 12.5rem;
  background: rgba(29, 33, 35, 0.3);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5rem);
}

.mini-controls {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  width: 112.2rem;
  margin: 2.5rem 6.6rem 3.9rem 9.9rem;
}

/* LEFT SIDE */
.left-control {
  display: flex;
  gap: 1.3rem;
}

.left-control-img {
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 1.4rem;
}

.control-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-control-text {
  font-weight: 700;
  font-size: 1.4rem;
}

.left-control-text-name {
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.44);
}

/* MIDDLE SIDE */
.middle-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control-icons-container {
  display: flex;
  gap: 3.051rem;
  align-items: center;
  /* justify-content: center; */
}

/* RIGHT SIDE */
.right-control {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.volume-bar {
  width: 16rem;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4.2rem;
}

.volume-seek {
  width: 5.1rem;
  height: 0.3rem;
  background: #facd66;
  border-radius: 4.2rem;
}
